.navbar-size {
    width: 95%;
    margin: 0 auto;
  }
  .user-image-size {
    height: 56px;
    margin: 4px 0;
  }
  
  .main-body {
    background-color:aliceblue;
    color: rgb(19, 17, 17);
    /* height: 100%; */
  }
  .materialboxed-image {
    margin: 0 auto;
    height: 300px;
  }
  .click-me-button {
    background-color: #410a99;
    margin-top: 50px;
  }
  .card-text {
    color: #212121
  }
  
  
  